.toast-container {
	position: fixed;
  z-index: 999999;
  pointer-events: none;
	bottom: 12px;
	left: 12px;
}
.toast-container .toast{
  position: relative;
  pointer-events: auto;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px;
  width: 300px;
  border-radius: 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  box-shadow: 0 0 12px #999;
  color: #fff;
  opacity: .8;
}
.toast-container .toast.success {
	background-color: #51a351;
}
.toast-container .toast.warning {
  background-color: #f89406;
}
.toast-container .toast.error {
  background-color: #bd362f;
}
    
    